@import 'src/module/grui/style/mixins';

#grui-app {
  button.pure-button {
    @include colors;
    font-size: 1.1em;
    padding: .4em .5em;
    border-radius: .25em;

    > span > svg {
      margin: 0 -.1em -.2em 0;
      font-size: 1.4em;
    }

    & ~ button.pure-button {
      margin-left: .5em;
    }
  }
}