#grui-app {
  form.pure-form {
    div.pure-u-1-5 {
      text-align: right;
      padding: .5em .8em;
      box-sizing: border-box;
    }

    max-width: 50vw;
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

    input:not([type=checkbox]), textarea {
      min-width: 100%;
      max-width: 100%;
    }
  }
  .help-message {
    margin: .5em 0 1.2em 0;
    width: 100%;
  }
  button[type=submit] {
    width: 100%;
  }
}