$menu-width: 18vw;
$minimal-width: 900px;

body {
  background: var(--background-default-color);
  color: var(--text-default-color);
}

#grui-app {
  font-family: sans-serif;
  color: var(--text-default-color);
  width: 100vw;
  height: 100vh;
  hr {
    color: var(--background-darker-color);
  }
  > .menu {
    background-color: var(--background-darker-color);
    .pure-menu-item > .pure-menu-link {
      color: var(--text-default-color);
    }
    .pure-menu-selected > .pure-menu-link, .pure-menu-item > .pure-menu-link:hover {
      color: var(--background-default-color);
      background-color: var(--text-default-color);
    }
    .pure-menu-heading {
      font-size: 1600px; // updated dynamically by js
      text-align: center;
      padding: .5rem 0;
    }
    left: $menu-width;
    @media (max-width: $minimal-width) {
      left: 0;
    }
    margin-left: -$menu-width;
    width: $menu-width;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  > .right-part {
    padding-left: $menu-width;
    height: 100vh;
    overflow: hidden;
    @media (max-width: $minimal-width) {
      padding-left: 0;
    }

    > .header {
      display: flex;
      align-items: baseline;
      height: 3.2rem;
      box-sizing: border-box;
      padding: .4rem;
      line-height: 1;
      background: var(--background-darker-color);
      font-size: 1.2rem;

      > div {
        padding: 0 .8rem; // separate the different section from each other
      }

      span > svg {
        font-size: 1.5rem;
        vertical-align: middle;
      }

      .menu {
        @media (min-width: $minimal-width) {
          display: none;
        }
      }

      .color-theme-selector {
        > span {
          display: inline-block;
          border: .12rem solid var(--text-default-color);
          padding: .25rem;

          &.selected {
            background: var(--text-default-color);
            color: var(--background-darker-color);
            @media (max-width: $minimal-width) {
              border-radius: .75rem;
            }
          }

          @media (min-width: $minimal-width) {
            &:not(:last-child) {
              border-right: none;
            }
            &:last-child {
              border-radius: 0 .75rem .75rem 0;
            }
            &:first-child {
              border-radius: .75rem 0 0 .75rem;
            }
          }
          @media (max-width: $minimal-width) {
            &:not(.selected) {
              display: none;
            }
          }
        }
      }

      .search {
        color: var(--background-darker-color);
        text-align: center;
        flex-grow: 1;

        > form {
          background-color: var(--text-default-color);
          border-radius: .75rem;
          padding: .4rem;
          display: flex;

          > input {
            margin: 0 .2rem 0 0;
            flex-grow: 2;
          }

          > input, button {
            :focus {
              outline: none;
            }

            color: var(--background-default-color);
            outline: none;
            border: 0;
            background: none;
            padding: 0;
            line-height: 1;
          }
        }
      }

      .notification {
        position: relative;

        .badge {
          position: absolute;
          top: -.4rem;
          right: .2rem;
          min-width: 1rem;
          border-radius: 50%;
          background-color: var(--red-color);
          text-align: center;
          font-size: .8rem;
          line-height: 1rem;
          padding: .1rem;
        }
      }

      .user-authenticated > span {
        > span {
          margin-left: .5rem;
        }

        > svg {
          @media (max-width: $minimal-width) {
            display: none;
          }
        }
      }
    }
    // End header
    > .content {
      overflow-y: auto;
      height: calc(100% - 3.2rem);

      > .navigation-bar {
        margin: .5rem;
      }

      > .body {
        margin: auto;
        padding: 0 1rem;
        > table {
          width: 100%;
        }
        .body-function {
          h2, h3 {
            text-align: center;
          }
        }
      }
    }
  }
}
