@mixin color($name) {
  &.#{$name} {
    background-color: var(--#{$name}-color);
    color: var(--white);
  }
}

@mixin colors {
  @include color("red");
  @include color("green");
  @include color("blue");
}