#grui-app {
  table.function-doc td:first-child {
    text-align: center;
  }
  span.method {
    padding: .2em .5em;
    border-radius: .5em;
    //color: var(--white-color);
    background-color: var(--grey-dark-color);
    //min-width: 5rem;
    //display: block;

    &.get {
      background-color: var(--blue-color);
    }

    &.post {
      background-color: var(--green-color);
    }

    &.put {
      background-color: var(--orange-color);
    }

    &.delete {
      background-color: var(--red-color);
    }
  }
}
