#grui-app {
  table.pure-table {
    &, td, th {
      border-color: var(--text-default-color);
    }
    thead {
      text-align: center;
      background-color: var(--background-darker-color);
      color: var(--text-default-color);
    }
    tbody tr:nth-child(even) {
      background-color: rgba(0,0,0,.12);
    }
    &.with-actions {
      tr > th:last-child, tr > td:last-child {
        border-left-color: rgba(0,0,0,.2);;
      }
    }
  }
}